body{
font-family: Verdana;
}
#banner{
background-color: rgb(205,92,92);
color: white;
text-align: center;
padding: 5px ;
}
#stopka{
background-color: rgb(205,92,92);
color: white;
text-align: center;
padding: 5px ;
margin-top: -16px;
}
#lewy{
background-color: rgb(250,235,215);
width: 25%;
height: 500px;
    float: left;
}
#prawy{
    background-color: rgb(250,235,215);
    width: 25%;
    height: 500px;
    float: left;
}
#srodkowy{
    background-color: rgb(250,235,215);
    width: 50%; 
    height: 500px;
    float: left;  
}
#dane{
    background-color: rgb(210,180,140);
    color: white;
    clear: both;
}   
h2{
     text-align: center;
}
h2::first-letter{
    font-size: 150%;
}
table{
 margin-left: 60px;
}
#srodkowy img{
     width: 240px;
    height: 100px;
    padding: 7px 7px 7px 7px;
}
#srodkowy img:hover{
    background-color: rgb(210,180,140);
}
